/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: $primary-font-stack;
  line-height: 1.5;
  background: $color-gray-17-blue;
  color: $color-gray-17-blue;
  -webkit-font-smoothing: subpixel-antialiased;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.main {
  margin: 0 auto;
  background: $color-gray-95-blue;
  padding: $baseline-height 0;
}
p {
  margin: $baseline-height 0;
}
a {
  color: $color-gray-17-blue;

  &:link {
    color: $color-gray-17-blue;
  }
  &:visited,
  &:hover,
  &:active {
    color: $color-gray-17-blue;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $secondary-font-stack;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
h1 {
  @extend %thirty-seven-pixels;
}
h2 {
  @extend %twenty-eight-pixels;
}
h3 {
  @extend  %twenty-one-pixels;
}
h4, h5, h6 {
  font-size: 1em;
  line-height: 1.5;
}
ul,
ol {
  font-size: 1em;
  padding: 0;
  margin: $baseline-height;

  ul,ol {
    margin: 0 $baseline-height;
  }
}
ul ul,
ol ol,
ul ol,
ol ul,
li li {
  font-size: 1em;
}

/* Markup styles */

pre {
  word-wrap: break-word;
  background: $color-gray-95-blue;
  padding: $baseline-height / 2;
}
code {
  background: $color-gray-95-blue;
  padding: 0 $baseline-height / 4;
}
blockquote {
  margin: $baseline-height $baseline-height $baseline-height 0;
  padding-left: $baseline-height;
  border-left: solid 3px $color-gray-17-blue;

  cite {
    display: block;
    text-align: right;
  }
}
hr {
  margin: $baseline-height * 0.46 0;
}
/* Table styles */
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: $baseline-height 0;
}
td {
  padding: 0.5em 0.75em;
  border: solid 1px black;
}
th {
  padding: 0.5em 0.75em;
  border: solid 1px black;
}

/* Images */

.alignleft {
  float: left;
  margin: 0 $baseline-height $baseline-height 0;
}
.alignright {
  float: right;
  margin: 0 0 $baseline-height $baseline-height;
}
.aligncenter {
  text-align: center;
  margin: $baseline-height auto;
  display: block;
}
.alignnone {
  margin: $baseline-height;
}
img,
.alignright,
.alignleft,
.aligncenter,
.alignnone,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
.wp-caption-text {
  margin: 0 0 $baseline-height / 0.813;
  font-size: 0.813em;
  line-height: 1.85;
  color: $color-gray-27-blue;
}

/* Form styles */

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]):not([type="image"]),
textarea {
  @extend %twelve-pixels;
  padding: 9px 12px;
  width: 100%;
  max-width: $baseline-height * 10 * 1.85;
  background: $color-gray-95-blue;
  color: $color-gray-17-blue;
  outline: solid 1px $color-gray-85;
  border: none;
  font-family: $primary-font-stack;
  -webkit-appearance: none;

  &:focus {
    background: white;
  }
}
textarea {
  max-width: $baseline-height * 15 * 1.85;
  overflow: auto; /* to hide scrollbar in IE */
}
input[type="submit"] {
  @extend %twelve-pixels;
  padding: 0.8em;
  width: 100%;
  color: white;
  background: $color-gray-17-blue;
  outline: none;
  border: none;
  max-width: $baseline-height * 5 * 1.85;
  font-family: $primary-font-stack;
  -webkit-appearance: none;
}
input[type="submit"]:hover {
  cursor: pointer;
  background: $color-gray-27-blue;
}
input[type="search"] {
  margin-right: $baseline-height;
  padding-right: $baseline-height / 4; /* so safari 'x' doesn't get cut off */
}
::-webkit-input-placeholder {
  color: $color-gray-70;
}
:-moz-placeholder /* Firefox 18- */ {
  color: $color-gray-70;
}
::-moz-placeholder /* Firefox 19+ */ {
  color: $color-gray-70;
}
:-ms-input-placeholder {
  color: $color-gray-70;
}

/* ie image border fix */
a img {
  border: none;
}

// hiding screen reader text
.screen-reader-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
}
.skip-content {
  position: absolute;
  top: -$baseline-height * 3;
  width: 100%;
  left: 0;
  display: block;
  text-align: center;
  color: white;
  z-index: 99;
  padding: $baseline-height;
  background: $color-gray-17-blue;
  transition: top 0.2s ease;

  &:link,
  &:visited {
    color: white;
  }
  &:focus {
    top: 0;
    outline: none;
  }
}
.admin-bar {

  .skip-content:focus {
    top: 32px;
  }
}

// stop iphone from zooming in on landscape view
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape)
{
  html {
    -webkit-text-size-adjust: none;   /* none for no scaling */
  }
}

// stop ipad from zooming in on landscape view
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)
{
  html {
    -webkit-text-size-adjust: none;   /* none for no scaling */
  }
}