.site-header {

  &:after {
    @include clearfix; // due to toggle-navigation float: right;
  }
}
.title-container {
  display: inline-block; // so toggle-navigation can be on same line

  .avatar {
    display: none;
  }
}
.site-title {
  @extend %twenty-one-pixels;
  line-height: 36px; // to vertically center with toggle button

  a {
    @extend %white-link;
    text-decoration: none;
  }
}
.tagline {
  display: none; // hide for now
  @extend %twelve-pixels;
}
.toggle-navigation {
  float: right;
  height: 36px;
  width: 36px;
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1;
  text-align: center;
  color: white;
  background: none;
  border: solid 1px $color-gray-27-blue;

  &:focus {
    border-color: $color-gray-60;
    outline: none;
  }
}
// .open added to .site-header when menu displaying
.open {

  .toggle-navigation {
    border-color: $color-gray-60;
  }
}

@media all and (min-width: 550px) {

  .site-title {
    font-size: 1.75em; /* 28px / 16px */
    line-height: 1;
  }
  .tagline {
    display: block;
    color: $color-gray-80;
    margin: 0;
  }
}