
/* Styles for the primary menu */

.menu-primary {
  max-height: 0;
  overflow: hidden;

  a {
    @extend %white-link;
    text-decoration: none;
    display: block;
    margin-bottom: $baseline-height / 2;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
  // no additional margin at bottom (top-level only to prevent spacing below bottom of menu)
  > li {

    &:last-child {

      a {
        margin-bottom: 0;
      }
    }
  }
}
.menu-primary-items,
.menu-unset > ul {
  list-style: none;
  margin: $baseline-height 0;
  padding: $baseline-height 0 0;
  border-top: solid 1px $color-gray-27-blue;

  ul {
    list-style: none;
  }
}

/* Tier 2 */

.menu-item-has-children,
.page_item_has_children {
  position: relative; // keeps the dropdown arrows from showing overtop the content

  > a {

    &:after {
      content: '\f107';
      font-family: 'FontAwesome';
      position: absolute;
      margin-left: 4px;
      backface-visibility: hidden;
      transition: all 0.1s ease-in-out;
    }
  }
  &.open {

    > a:after {
      transform: rotate(180deg);
    }
  }
  ul {
    max-height: 0;
    overflow: hidden;
    margin: 0 0 0 $baseline-height / 2;

    a {
      color: $color-gray-80;

      &:link,
      &:visited,
      &:hover,
      &:active,
      &:focus {
        color: $color-gray-80;
      }
    }
  }
}

// menu open
.open .menu-primary {
  max-height: 9999px;
}

/* Current Menu item */
.current-menu-item,
.current_page_item {
//  text-decoration: underline;
}

// 550px
@media all and (min-width: 550px) {

  .menu-primary {
    position: absolute;
    width: 320px;
    top: 100%;
    left: 0;
    padding: 0 $column-27 * 2 * 1.174;
  }
  .menu-primary-items,
  .menu-unset > ul {
    margin-top: 0;
  }
}
/* 950px */
@media all and (min-width: 950px) {

  .toggle-navigation {
    display: none;
  }
  .menu-primary {
    position: relative;
    max-height: none; // allow menu items to be seen w/o toggling
    width: auto;
    padding: 0;
  }
  .menu-primary-items,
  .menu-unset > ul {

    li {
      // so bg stays dark when hovering over children
      &:hover {

        > a {
//          background: $gray-93;
//          color: $gray-23;
        }
      }
    }
    a {
//      color: $gray-40;
//      padding: 15px 12px;
//      transition: background 0.15s ease-in-out;

      &:link,
      &:visited {
//        color: $gray-40;
      }
      &:hover,
      &:active,
      &:focus {
//        color: $gray-23;
//        text-decoration: none;
//        background: $gray-93;
      }
    }
  }
  /* 2nd tier */
  .menu-item-has-children,
  .menu-unset .page_item_has_children {

    &:hover {

      > a:after {
        transform: translateY(3px);
      }
    }
    > a {
      padding-right: 24px; // to make room for the dropdown icon

      &:hover,
      &:active,
      &:focus {

        &:after {
          transform: translateY(3px);
        }
        + ul {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    ul {
      position: absolute;
      opacity: 0;
      max-height: 999px;
      overflow: visible;
      visibility: hidden;
      z-index: 9;
      background: white;
      top: 48px;
      left: 0;
      margin: 0;
      min-width: 100%;
//      border: solid 1px $gray-87;
      transition: all 0.15s ease-in-out;
      backface-visibility: hidden; // fixed keyboard focus z-index issue

      li {
        display: block;
        white-space: nowrap;
        margin-right: 0;
        backface-visibility: hidden; // fixed keyboard focus z-index issue

        &:hover {

          > a:after {
            transform: translateX(3px);
          }
        }
      }
      a {
//        color: $gray-40;

        &:link,
        &:visited {
//          color: $gray-40;
        }
        &:active,
        &:hover,
        &:focus {
//          color: $gray-23;

          &:after {
            transform: translateX(3px);
          }
        }
      }
      &:hover,
      &.focused {
        opacity: 1;
        visibility: visible;
      }
    }
    /* tier 3 */
    ul {

      ul {
        top: -1px; // b/c of the border
        left: 100%;
      }
      .menu-item-has-children,
      .page_item_has_children {

        > a {

          &:after {
            content: '\f105';
          }
        }
      }
    }
  }
  /* Current Menu item */
  .current-menu-item,
  .current_page_item,
  .current-menu-ancestor,
  .current_page_ancestor {
    text-decoration: none;
//    background: $gray-93;
//    color: $gray-23;

    a {

      &:link,
      &:visited {
//        color: $gray-23;
      }
      &:hover,
      &:active,
      &:focus {
//        color: $gray-23;
//        background: $gray-85;
      }
    }
  }
  // CSSJanus can't do this for RTL stylesheet
  .rtl {

    .menu-primary-items ul,
    .menu-unset ul ul {

      .menu-item-has-children,
      .menu-unset .page_item_has_children {

        > a {

          &:after {
            content: '\f104';
          }
          &:hover,
          &:active,
          &:focus {

            &:after {
              transform: translateX(-3px);
            }
          }
        }
      }
    }
  }
}