
/* Styles for the primary menu */

.menu-primary {
  max-height: 0;
  overflow: hidden;
  clear: both;

  a {
    @extend %white-link;
    text-decoration: none;
    display: inline-block;
    margin: $baseline-height / 4 0 $baseline-height / 4;
    clear: both;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}
.menu-primary-items,
.menu-unset > ul {
  list-style: none;
  margin: $baseline-height 0;
  padding: $baseline-height 0 0;
  border-top: solid 1px $color-gray-27-blue;

  ul {
    list-style: none;
  }
  // no additional margin at bottom (top-level only to prevent spacing below bottom of menu)
  > li {

    &:last-child {

      a {
        margin-bottom: 0;
      }
    }
    &:first-child {

      a {
        margin-top: 0;
      }
    }
  }
  /* Tier 2 */

  .menu-item-has-children,
  .page_item_has_children {
    position: relative; // keeps the dropdown arrows from showing overtop the content

    button {
      float: right;
      height: 32px;
      width: 32px;
      margin: 2px 0 0 0;
      padding: 0;
      font-size: 1em;
      line-height: 1;
      background: none;
      color: white;
      border: solid 1px $color-gray-27-blue;

      &:focus {
        outline: none;
        border-color: $color-gray-60;
      }
      &:after {
        content: '\f107';
        font-family: 'FontAwesome';
        transition: all 0.1s ease-in-out;
      }
    }
    ul {
      max-height: 0;
      overflow: hidden;
      margin: 0 0 0 $baseline-height / 2;

      a {
        color: $color-gray-80;

        &:link,
        &:visited,
        &:hover,
        &:active,
        &:focus {
          color: $color-gray-80;
        }
      }
      // tier 3
      ul {

        a {
          color: $color-gray-60;

          &:link,
          &:visited,
          &:hover,
          &:active,
          &:focus {
            color: $color-gray-60;
          }
        }
        button:after {
          color: $color-gray-80;
        }
      }
    }
    &.open {

      > button {
        transform: rotate(180deg);
        border-color: $color-gray-60;
      }
      > ul {
        max-height: 9999px;
      }
    }
  }
}

// menu open
.open .menu-primary {
  max-height: 9999px;
}

/* Current Menu item */
.current-menu-item,
.current_page_item {

  > a {
    text-decoration: underline;
  }
}

// 550px
@media all and (min-width: 550px) {

  .menu-primary {
    position: absolute;
    width: 320px;
    top: 100%;
    left: 0;
    padding: 0 $column-27 * 2 * 1.174;
  }
  .menu-primary-items,
  .menu-unset > ul {
    margin-top: 0;
  }
}
/* 950px */
@media all and (min-width: 950px) {

  .menu-primary {
    position: relative;
    max-height: none; // allow menu items to be seen w/o toggling
    width: auto;
    padding: 0;

    button {

      &:hover {
        cursor: pointer;
        border-color: $color-gray-60;
      }
    }
  }
}