.post {
  background: white;
  padding: $baseline-height $column * 2;
  margin-bottom: $baseline-height;
}
.post-header {
  text-align: center;
  margin: $baseline-height 0;
}
.post-title {
  @extend %thirty-seven-pixels;

  a {
    text-decoration: none;
  }
}
.blog,
.archive {

  .post {
    text-align: center;
  }
  .post-header {
    border-bottom: solid 1px $color-gray-85;
    padding-bottom: $baseline-height;
  }
}
.more-link {
  text-decoration: none;
  display: inline-block;
  background: $color-gray-17-blue;
  border-radius: 24px;
  color: white;
  padding: 6px 20px;

  &:link,
  &:visited,
  &:active,
  &:hover,
  &:focus {
    color: white;
  }
}

// 950px
@media all and (min-width: 950px) {

  .post {
    padding: 0;

    article {
      padding: 0 $column-9 * 0.75 * 1.636;
    }
  }
}

// 1150px
@media all and (min-width: 1150px) {

  .post {

    article {
      padding: 0 $column-9 * 0.5 * 1.8;
    }
  }
}