.post {
  margin-bottom: $baseline-height;

  article {
    padding: $baseline-height $column * 2;
    background: white;
  }
}
.featured-image {
  position: relative;
  height: 0;
  padding-bottom: 50%;
  background-size: cover;
  background-position: 50%;

  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }
}
.post-header {
  text-align: center;
  margin: $baseline-height / 2 0 $baseline-height;
}
.post-title {
  @extend %thirty-seven-pixels;

  a {
    text-decoration: none;
  }
}
.post-content {
  margin: $baseline-height 0;

  &:after {
    @include clearfix;
  }
}
.singular {

  .post {
    margin-top: -$baseline-height; // remove gap on posts/pages
  }
  .post-content {
    border-bottom: solid 1px $color-gray-85;
  }
}
.post-categories {
  margin: $baseline-height 0;

  a {
    display: inline-block;
    margin-left: $baseline-height / 2;
  }
}
.post-tags {
  margin: $baseline-height 0 0;

  ul {
    list-style: none;
    margin: 0;
  }
  li {
    display: inline-block;
  }
  a {
    @extend %white-link;
    @extend %twelve-pixels;
    line-height: 1;
    display: inline-block;
    padding: 6px 20px;
    margin: 0 6px 6px 0;
    background: $color-gray-17-blue;
    border-radius: 24px;
    text-decoration: none;
  }
}
.further-reading {
  text-align: center;
  background: $color-gray-85;
  padding: $baseline-height / 2 $column * 2;

  div {
    margin: $baseline-height 0;
  }
  span {
    @extend %twelve-pixels;
  }
  span,
  a {
    display: block;
  }
}
.blog,
.archive {

  .post {
    text-align: center;
  }
  .post-content {
    margin-bottom: $baseline-height / 2;

    p:last-child {
      padding-top: $baseline-height;
      margin-bottom: 0;
      border-top: solid 1px $color-gray-85;
    }
  }
}

// 550px
@media all and (min-width: 550px) {

  .post {

    article {
      box-shadow: $box-shadow;
    }
  }
  .singular {

    .post-header {
      margin-bottom: $baseline-height * 1.5;
    }
    .post {
      margin-top: 0;
    }
  }
  .further-reading {

    &:after {
      @include clearfix;
    }
    div {
      width: 50%;
    }
    .previous {
      text-align: left;
      float: left;
    }
    .next {
      text-align: right;
      float: right;
    }
  }
}

// 950px
@media all and (min-width: 950px) {

  .post {
    padding: 0;

    article,
    .further-reading {
      padding: $baseline-height $column-9 * 0.75 * 1.636;
    }
  }
}

// 1150px
@media all and (min-width: 1150px) {

  .post {

    article,
    .further-reading {
      padding: $baseline-height $column-9 * 0.5 * 1.8;
    }
  }
  .post-title {
    font-size: 3.1875em; /* 51px / 16px */
  }
  .post-header {
    margin-top: $baseline-height;
  }
  .has-post-thumbnail {

    .post-header {
      margin-top: 0;
    }
  }
}