.main-sidebar {
  position: relative;
  padding: $baseline-height $column-27 * 2;
  background: $color-gray-17-blue;
  color: white;
}

// 950px
@media all and (min-width: 950px) {

  .main-sidebar {
    float: left;
    width: $column-9 * 2.5;
  }
}

// 1150px
@media all and (min-width: 1150px) {

  .main-sidebar {
    width: $column-9 * 2;
  }
}