/*===== Variables =====*/
/* Theme Colors */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/***** Silent Classes *****/
h1, .editor-post-title textarea {
  font-size: 2.3125em;
  /* 37px / 16px */
  line-height: 1;
}

h2 {
  font-size: 1.75em;
  /* 28px / 16px */
  line-height: 1.321;
  /* 37px */
}

h3 {
  font-size: 1.3125em;
  /* 21px / 16px */
  line-height: 1.143;
  /* 24px */
}

.mce-content-body.wp-editor {
  margin: 0 auto;
  padding: 0 24px !important;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased !important;
  background: #fff;
  font-family: "Lato", sans-serif;
  max-width: 670px;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  color: #27292B;
  -webkit-font-smoothing: subpixel-antialiased;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}

p {
  margin: 1.5em 0;
}

a {
  color: #27292B;
  transition: color 0.2s ease-in-out;
}
a:link, a:visited {
  color: #27292B;
}
a:hover, a:active, a:focus {
  color: #5c6066;
}

h1, .editor-post-title textarea, h2, h3, h4, h5, h6 {
  font-family: "Rokkitt", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h4, h5, h6 {
  font-size: 1em;
  line-height: 1.5;
}

ul,
ol {
  font-size: 1em;
  padding: 0;
  margin: 1.5em;
}
ul ul, ul ol,
ol ul,
ol ol {
  margin: 0 1.5em;
}

ul ul,
ol ol,
ul ol,
ol ul,
li li {
  font-size: 1em;
}

/* Markup styles */
pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  background: #F0F1F2;
  padding: 0.75em;
}

code {
  background: #F0F1F2;
  padding: 0 0.375em;
}

blockquote {
  margin: 1.5em 1.5em 1.5em 0;
  padding-left: 1.5em;
  border-left: solid 3px #27292B;
}
blockquote cite {
  display: block;
  text-align: right;
}

hr {
  margin: 0.69em 0;
}

/* Table styles */
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1.5em 0;
}

td {
  padding: 0.5em 0.75em;
  border: solid 1px black;
}

th {
  padding: 0.5em 0.75em;
  border: solid 1px black;
}

/* Images */
.alignleft {
  float: left;
  margin: 0 1.5em 1.5em 0;
}

.alignright {
  float: right;
  margin: 0 0 1.5em 1.5em;
}

.aligncenter {
  text-align: center;
  margin: 1.5em auto;
  display: block;
}

.alignnone {
  margin: 1.5em 0;
}

.alignright,
.alignleft,
.aligncenter,
.alignnone,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.wp-caption-text {
  margin: 0 0 1.8450184502em;
  font-size: 0.813em;
  line-height: 1.85;
  color: #3E4145;
}

.wp-block {
  max-width: 645px;
}

.editor-post-title textarea {
  color: #27292B;
  text-align: center;
  outline: none;
}

.wp-block[data-align="wide"],
.wp-block[data-align="full"] {
  max-width: none;
}

.wp-block-quote.is-large {
  padding-left: 0;
  border-left: none;
}

.wp-block-embed {
  margin: 1.5em 0;
}

.has-small-font-size {
  font-size: 12px;
}

.has-regular-font-size {
  font-size: 16px;
}

.has-large-font-size {
  font-size: 21px;
}

.has-extra-large-font-size {
  font-size: 37px;
}

@media all and (min-width: 1200px) {
  .editor-post-title textarea {
    font-size: 3.1875em;
    /* 51px / 16px */
  }
}
